.titleWrap{height:10px; align:center; bgcolor:lightgreen; box-sizing: border-box}
.titleNo{width: 106px; height: 55px;}
.titleWriter{width: 157px; height: 55px;}
.title{width: 663px; height: 55px;}
.titleDay{width: 154px; height: 55px;}